<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
        <li><a href="http://www.epicodus.com">Epicodus</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  {{outlet}}
</div>
