<div class="jumbotron">
  <p>Alec Arme</p>
  <ul>
    <li>
      <a href="mailto:Alec.Arme@gmail.com?Subject=Greetings%20Human!" target="_top">Alec.Arme@gmail.com</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/alecarme">Linkedin</a>
    </li>
    <li>
      <a href="https://github.com/ginkko">Github</a>
    </li>
  </ul>

</div>
