<div class="jumbotron">
  <h1 class="text-center">To Do List</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <a href="http://ginkko-todolist.bitballoon.com"><img src="../public/img/ToDoList.jpg" class="img-responsive"></a>
    </div>
    <div class="col-md-4">
      <p>To do list is a minimalist take on a task management app written in JS. I appreciate this project's simple design and implementation, and was the first time I used CSS to create dynamic/interactive elements.</p>
      <hr>
      <div class="text-center">
        <a href="http://ginkko-todolist.bitballoon.com">Live</a>
        <br>
        <a href="https://github.com/Ginkko/toDoJS">Github</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1 class="text-center">Elven Sword</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <a href="https://github.com/adammcfadden/elven_sword"><img src="../public/img/ElvenSword.png" class="img-responsive"></a>
      <br>
      <a href="https://github.com/adammcfadden/elven_sword"><img src="../public/img/ElvenSwordBattle.png" class="img-responsive"></a>
    </div>
    <div class="col-md-4">
      <p>Elven Sword is an Adventure RPG written in Ruby, using the Gosu Game Library. It features procedural map generation, random monster encounters, and brutal (possibly imbalanced) difficulty. This project was excting, as it was the first (non pair programming) collaboration I did. No one in our group had used Gosu before, and learning it on the fly was both challenging and rewarding.</p>
      <hr>
      <div class="text-center">
        <a href="https://github.com/adammcfadden/elven_sword">Github</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1 class="text-center">Youhole.tv</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <a href="http://youhole.tv"><img src="../public/img/Youhole.png" class="img-responsive"></a>
    </div>
    <div class="col-md-4">
      <p>Youhole.tv is a Deep Web Youtube Aggregator. Youhole is purposely minimalist, as the user has two options - watch the current video or skip to the next. The user doesn't know the title, duration, or any other identifibile information of the video. Using a number of algorithims, Youhole offers a slice of the internet that is unique, odd, and ephemeral. </p>
      <hr>
      <div class="text-center">
        <a href="http://youhole.tv">Live</a>
        <br>
        <a href="https://github.com/tobyalden/youhole_free.git">Github</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1 class="text-center">Cube Spawner</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <a href="https://github.com/Ginkko/CubeSpawnCardboard"><img src="../public/img/CubeVR.png" class="img-responsive"></a>
    </div>
    <div class="col-md-4">
      <p>Cube Spawner is an introductory demo for Google Cardboard made with the Unity Game Engine. The scripting is written in C#, and the 3D environment was created with the help of Unity's GUI. While simple, this project was exemely fun. The future for VR is thrilling, and I'm looking forward to being a part of it's future.</p>
      <hr>
      <div class="text-center">
        <a href="https://github.com/Ginkko/CubeSpawnCardboard">Github</a>
      </div>
    </div>
  </div>
</div>
