<div class="jumbotron">
  <h1 class="text-center">To Do List</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <a href="http://ginkko-todolist.bitballoon.com"><img src="../public/img/todolist.jpg" class="img-responsive"></a>
    </div>
    <div class="col-md-4">

      <p>To do list is a minimalist take on a task management app. I appreciate this project's simple design and implementation, and was the first time I used CSS to create dynamic/interactive elements.</p>
        <hr>
        <div class="text-center">

          <a href="http://ginkko-todolist.bitballoon.com">Live</a>
          <br>
          <a href="https://github.com/Ginkko/toDoJS">Github</a>
        </div>
  </div>

</div>
</div>
