<div class="jumbotron">
  <h1 class="text-center">To Do List</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <a href="http://ginkko-todolist.bitballoon.com"><img src="../public/img/ToDoList.jpg" class="img-responsive"></a>
    </div>
    <div class="col-md-4">
      <p>To do list is a minimalist take on a task management app written in JS. I appreciate this project's simple design and implementation, and was the first time I used CSS to create dynamic/interactive elements.</p>
      <hr>
      <div class="text-center">
        <a href="http://ginkko-todolist.bitballoon.com">Live</a>
        <br>
        <a href="https://github.com/Ginkko/toDoJS">Github</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1 class="text-center">Afterworld</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <a href="https://github.com/Ginkko/Afterworld"><img src="../public/img/Afterworld.png" class="img-responsive"></a>
    </div>
    <div class="col-md-4">
      <p>Afterworld is an exploration game buit for Oculus rift using Unity 5. The game mechanics are based on the harsh light and shadows, with a heavy focus on atmopshereic sound and audio queues. The future for VR is thrilling, and I'm looking forward to being a part of it's future.</p>
      <hr>
      <div class="text-center">
        <a href="https://github.com/Ginkko/Afterworld">Github</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1 class="text-center">Youhole.tv</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <a href="http://youhole.tv"><img src="../public/img/Youhole.png" class="img-responsive"></a>
    </div>
    <div class="col-md-4">
      <p>Youhole.tv is a Deep Web Youtube Aggregator. Youhole is purposely minimalist, as the user has two options - watch the current video or skip to the next. The user doesn't know the title, duration, or any other identifiable information of the video. Using a number of algorithms, Youhole offers a slice of the internet that is unique, odd, and ephemeral.</p>
      <hr>
      <div class="text-center">
        <a href="http://youhole.tv">Live</a>
        <br>
        <a href="https://github.com/tobyalden/youhole_free.git">Github</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1 class="text-center">GoodbyeForever.link</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <a href="http://goodbyeforever.link"><img src="../public/img/GoodbyeForever.png" class="img-responsive"></a>
    </div>
    <div class="col-md-4">
      <p>Goodbye Forever is a forced scarcity file sharing site. Users can upload any file for users to download and view, but only a limited number of times. Built in Rails, the site supports User Authorization, Email confirmations, Admin priveleges, and database backed file storage.</p>
      <hr>
      <div class="text-center">
        <a href="http://goodbyeforever.linkv">Live</a>
        <br>
        <a href="https://github.com/tobyalden/goodbye_forever.git">Github</a>
      </div>
    </div>
  </div>
</div>


<div class="jumbotron">
  <h1 class="text-center">Elven Sword</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <a href="https://github.com/adammcfadden/elven_sword"><img src="../public/img/ElvenSword.png" class="img-responsive"></a>
      <br>
      <a href="https://github.com/adammcfadden/elven_sword"><img src="../public/img/ElvenSwordBattle.png" class="img-responsive"></a>
    </div>
    <div class="col-md-4">
      <p>Elven Sword is an Adventure RPG written in Ruby, using the Gosu Game Library. It features procedural map generation, random monster encounters, and brutal (possibly imbalanced) difficulty. This project was excting, as it was the first (non pair programming) collaboration I did. No one in our group had used Gosu before, and learning it on the fly was both challenging and rewarding.</p>
      <hr>
      <div class="text-center">
        <a href="https://github.com/adammcfadden/elven_sword">Github</a>
      </div>
    </div>
  </div>
</div>
